.filtersClass {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: salmon;
  padding: 10px;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: center;
  color: salmon;
  padding-top: 10px;
}
input {
  border: none;
  border-radius: 20px;
}
.page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  border-radius: 20px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cardText {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.card img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 150px;
}
.not-found-text {
  margin-left: 20px;
  font-size: 50px;
  color: salmon;
}
