.card-detailed h5 {
  font-size: 17px;
  margin-bottom: 10px;
}
.filtersClass {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: salmon;
  padding: 15px;

  justify-content: center;
}
.header {
  display: flex;
  justify-content: center;
  color: salmon;
  font-weight: 700;
  font-size: 40px;
}
input,
select {
  border: none;
  border-radius: 20px;
  padding: 2px 30px;
  outline: none;
}
.filter-button {
  background-color: white;
  color: salmon;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 30px;
}
.card-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
  gap: 10px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  border-radius: 20px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.card > .card-text {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.card img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 150px;
}
/*?card loading and not found text style */
.not-found-text,
.card-loading {
  font-size: 50px;
  color: salmon;
  padding-left: 20px;
  font-weight: 600;
}
.card-detailed {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.card-detailed img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card-detailed > .card-text {
  display: flex;
  flex-direction: column;
  padding: 0 10px 20px 20px;
  font-size: 15px;
}
.episode,
.episode-heading {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
  font-size: 15px;
  margin-bottom: 3px;
}
/* go back to home button that stays in card detail page */
.go-homepage-button {
  display: flex;
  justify-content: center;
  margin: auto;
  border: none;
  background-color: salmon;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
